/* CSS reset */
* {
    border: none;
    margin: none;
    padding: none;
}

/* mobile rules */
body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10% 0;
}

main {
    flex-direction: column;
    text-align: center;
    width: 75%;
    padding: 3% 0;
}

img {
    max-width: 90%;
    object-fit: cover;
}

.height-400 {
    max-height: 400px;
}

.height-600 {
    max-height: 600px;
}

h2 {
    padding-top: 3%;
}

/* desktop rules */
@media only screen and (min-width: 992px) {
    body {
        padding: 2% 0;
    }

    main {
        width: 50%;
    }

    img {
        max-width: 75%;
    }

    .height-600 {
        height: 600px;
    }

    h1 {
        font-size: 5em;
    }

    .pronouns {
        font-size: 2.5em;
    }
}